# Using Tensorflow

## 1. Approximate a Simply Function

In [14]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [15]:
x = np.array([1,2,-1,3,4, 0])
y = np.array([1,3,-3,5,7,-1])

My brain says that $y = 2x-1$

In [16]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(1, input_shape = [1])
])

A recap before compile:  

- Loss function measures how good our how bad a prediction is.
- Optimizer is making another guess, it tries minimize the error.

In [17]:
model.compile(optimizer = 'sgd', loss = 'mse', metrics = ['accuracy'])

A recap before training the model:
    
What is an epoch?  

[An answer from StackOverflow](https://stackoverflow.com/a/40069646/5070121).
> An epoch, in Machine Learning, is the entire processing by the learning algorithm of the entire train-set.

In [18]:
model.fit(
    x, y,
    epochs = 1000,
    verbose = 0
)

> What is y when x = 10?

In [19]:
model.predict([10])

array([[18.999872]], dtype=float32)

The prediction is close the 19.

## 2. Classifiying Iris Species

In [20]:
from sklearn import datasets
from sklearn.model_selection import train_test_split

from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

iris_data = datasets.load_iris()

x = iris_data['data']
y = iris_data['target']
y = to_categorical(y, 3)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.10)

model = Sequential([
    Dense(3, activation = 'softmax')
])

# compile
model.compile(loss = 'categorical_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

# train
model.fit(x_train,y_train, epochs = 2000, verbose=0)

# evaluate
model.evaluate(x_test, y_test)

15/1 [==================================================================================================================================================================================================================================================================================================================================================================================================================================================================] - 0s 8ms/sample - loss: 0.0537 - accuracy: 1.0000

[0.053682662546634674, 1.0]

## 3. Boston Housing Price Prediction
Predicting a numeric value

In [21]:
boston = datasets.load_boston()

In [22]:
print(boston['DESCR'])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [23]:
x = boston['data']

In [24]:
y = boston['target']

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.10)

In [26]:
model = Sequential([
    Dense(13, activation = 'linear', input_shape=[13]),
    Dense(1, activation='linear')
])

In [27]:
model.compile(loss='mean_squared_error', optimizer='adam', metrics = ['mae'])

In [28]:
model.fit(x_train, y_train, epochs=10000, verbose = 0)

In [29]:
model.evaluate(x_test,y_test)

51/1 [==========================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================] - 0s 3ms/sample - loss: 12.4292 - mae: 2.4410

[11.30421730116302, 2.4410374]

In [30]:
predictions = model.predict(x_test)

In [31]:
df = pd.DataFrame(y_test)
df = df.rename(columns = {0:'true_values'})
df['predictions'] = predictions

In [106]:
df

    true_values  predictions
0          20.6    25.350475
1          22.9    21.674603
2          28.4    29.887630
3          23.4    23.058323
4          13.6    12.938663
5          32.5    29.403019
6          23.8    19.970669
7          23.2    23.954006
8          12.7    11.908081
9          34.9    34.935776
10         36.0    35.839069
11         28.7    30.742565
12         20.4    18.784527
13         38.7    36.209530
14         11.8     9.973026
15         10.5    14.294132
16         21.1    21.945667
17         20.8    18.913357
18         19.4    15.854267
19         18.8    19.721569
20         26.6    28.170734
21         22.6    23.467297
22         21.8    19.636890
23         19.3    19.819210
24         24.4    23.301151
25         14.5    14.706593
26         11.0    13.585613
27         17.1    19.138035
28         19.1    21.611370
29         39.8    34.903156
30         37.9    33.012745
31         19.4    22.367237
32         14.2    18.620644
33          8.4     5.265495
34         19.8    22.990330
35         27.5    25.484386
36         34.6    33.539211
37         22.2    24.623219
38         22.0    21.378132
39         17.9    -2.541271
40         10.2     5.968540
41         41.3    31.526264
42         19.6    21.296780
43         24.1    24.435459
44         33.3    34.944614
45         46.0    39.112232
46         20.3    21.866009
47         33.1    34.387215
48         17.1    21.239277
49         28.0    28.485722
50         20.2    16.239204

## Exploring Modules

In [37]:
# models
from tensorflow.keras.models import Sequential, save_model, load_model, Model

# layers
from tensorflow.keras.layers import Dense, Softmax, Conv2D, Conv1D, AvgPool2D, MaxPooling2D, Dropout, GRU, LSTM, Lambda, Embedding, UpSampling2D

# activation
from tensorflow.keras.activations import relu, softmax, linear, sigmoid, tanh, elu, softplus, selu

# loss
from tensorflow.keras.losses import BinaryCrossentropy, CategoricalCrossentropy, SparseCategoricalCrossentropy, MeanSquaredError, MeanAbsoluteError, Huber, mean_absolute_percentage_error, CosineSimilarity

# optimizers
from tensorflow.keras.optimizers import SGD, Adam, RMSprop, Adadelta, Nadam, Adagrad

# metrics
from tensorflow.keras.metrics import Accuracy, FalseNegatives, TruePositives, TrueNegatives, FalsePositives